.page-content {
  position: absolute;
  top: 120px;
  padding: 0 5% 50px 5%;
  z-index: -1;

  @media only screen and (min-width: 1280px) {
    padding: 0 10% 50px 10%;
  }

  @media only screen and (min-width: 1700px) {
    padding: 0 21% 50px 21%;
  }

  .about-header {
    font-family: 'Nobel', sans-serif;
    font-size: 16px;
    margin: 0;

    @media only screen and (min-width: 768px) {
      font-size: 20px;
    }

    @media only screen and (min-width: 1280px) {
      font-size: 24px;
    }
  }

  .about-info-paragraph {
    font-family: 'Nobel-Book', sans-serif;
    font-size: 14px;
    padding-bottom: 15px;

    @media only screen and (min-width: 768px) {
      font-size: 16px;
    }

    @media only screen and (min-width: 1280px) {
      font-size: 20px;
    }
  }

  img {
    width: 100%;
    padding-bottom: 8%;
  }

  img:last-of-type {
    padding-bottom: 2%;
  }
}