.page-content {
  padding-top: 120px;
  height: calc(100% - 120px);
  width: 90%;
  margin: auto;

  @media only screen and (min-width: 768px) {
    width: 60%;
  }

  @media only screen and (min-width: 1024px) {
    width: 50%;
  }

  @media only screen and (min-width: 1280px) {
    width: 57%;
  }
}

.flex-container {
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    margin-top: 25px;
    width: 80%;
  }
}

.contactTextContainer {
  display: flex;
  flex-direction: column;
}

.contactTitle {
  font-family: 'Nobel', sans-serif;
  font-size: 20px;
  margin: 0;

  @media only screen and (min-width: 768px) {
    font-size: 24px;
  }

  @media only screen and (min-width: 1280px) {
    font-size: 30px;
  }
}

.contactInfoParagraph {
  font-family: 'Nobel-Book', sans-serif;
  font-size: 14px;
  padding-bottom: 15px;

  @media only screen and (min-width: 768px) {
    font-size: 16px;
  }

  @media only screen and (min-width: 1280px) {
    font-size: 20px;
  }
}

.contactForm {
  width: 100%;
  font-family: Nobel;
  font-size: 14px;

  @media only screen and (min-width: 768px) {
    font-size: 16px;
  }

  @media only screen and (min-width: 1280px) {
    font-size: 20px;
  }
}

.nameFieldContainer, .emailFieldContainer, .subjectContainer, .messageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
  font-family: inherit;

  &:last-child {
    padding-bottom: 0;
  }

  label {
    margin-bottom: 5px;
  }

  input, textarea {
    padding: 10px;
    border-radius: 2px;
    border: solid 1px #9D9D9D;
    font-family: inherit;
    font-size: inherit;
    &:focus {
      outline: none;
      border: solid 1px #040504;
    }
  }

  input.not-valid.user-initiated {
    border: solid 1px #FF8687;
  }

  textarea.not-valid.user-initiated {
    border: solid 1px #FF8687;
  }
}

.nameFieldContainer {
  .nameInputs {
    display: inherit;
    flex-direction: column;
    width: 100%;
    input:first-of-type {
      margin-bottom: 20px;
    }

    @media only screen and (min-width: 768px) {
      justify-content: space-between;
      flex-direction: row;

      input:first-of-type {
        margin-bottom: 0;
      }

      input {
        width: 44%;
      }
    }
  }
}

.formSubmitButton {
  -webkit-appearance: none !important;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  border: 2px solid #040504;
  border-radius: 2px;
  background: #FFF;
  color: #040504;
  padding: 10px 15px;
  transition: all 0.2s ease;

  &:hover {
    transition: all 0.2s ease;
    background: #040504;
    color: #FFF;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}