.page-content .project-container {
  padding: 0 5%;
  margin-bottom: 50px;
  position: relative;
  @media only screen and (min-width: 1024px) {
    margin-bottom: 80px;
  }

  @media only screen and (min-width: 1280px) {
    padding: 0 10%;
  }

  @media only screen and (min-width: 1700px) {
    padding: 0 21%;
  }

  .image-wrapper {
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  .overlayText {
    width: 100%;
    font-weight: normal;
    padding: 5px 0;
    font-size: 16px;
    font-weight: 300;

    @media only screen and (min-width: 1024px) {
      font-size: 20px;
    }
  }

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
}