.projectOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: #FFF;
  overflow: auto;

  .controls {
    position: fixed;
    background: #FFF;
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: end;
    height: 110px;
    margin: 0 5%;
    width: 90%;
    padding-bottom: 10px;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    @media only screen and (min-width: 1280px) {
      margin: 0 10%;
      width: 80%;
    }

    @media only screen and (min-width: 1700px) {
      margin: 0 21%;
      width: 58%;
    }

    .left, .right {
      width: 100%;
      cursor: pointer;
    }

    .right {
      display: flex;
      justify-content: flex-end;
      height: 24px;
    }

    .leftArrow, .rightArrow {
      height: 35px;
      width: 24px;
    }

    .leftArrow {
      margin-right: 10px;

      @media only screen and (min-width: 768px) {
        width: 18px;
        height: 18px;
        margin-right: 15px;
      }
    }

    .rightArrow {
      margin-left: 10px;

      @media only screen and (min-width: 768px) {
        width: 18px;
        height: 18px;
        margin-left: 15px;
      }
    }

    .arrow-icon {
      height: 35px;
    }

    .arrow-icon.disabled {
      opacity: 0.2;
      cursor: initial;
    }

    .close-icon {
      width: 21px;
      height: 15px;
      cursor: pointer;

      @media only screen and (min-width: 768px) {
        width: 18px;
        height: 18px;
      }
    }
  }

  .content {
    min-height: 100%;
    margin: 0 5% 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 120px;

    @media only screen and (min-width: 440px) {
      margin: 0 5% 8% 5%;
    }

    @media only screen and (min-width: 768px) {
      width: 90%;
      margin: 0 auto 8% auto;
    }

    @media only screen and (min-width: 1280px) {
      width: 80%;
      margin: 0 auto 5% auto;
    }

    @media only screen and (min-width: 1700px) {
      width: 58%;
    }

    .imageContainer {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      img {
        margin-bottom: 12%;
        width: 100%;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .portrait {
        width: 100%;

        @media only screen and (min-width: 768px) {
          max-width: 65%;
        }
      }

      .landscape {
        width: 100%;
      }
    }
  }

  .projectHeader {
    font-family: 'Nobel', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;

    @media only screen and (min-width: 768px) {
      font-size: 20px;
    }

    @media only screen and (min-width: 1280px) {
      font-size: 24px;
    }
  }

  .textTitle, .textDescription {
    font-family: 'Nobel-Book', sans-serif;
    font-size: 14px;

    @media only screen and (min-width: 768px) {
      font-size: 16px;
    }

    @media only screen and (min-width: 1280px) {
      font-size: 20px;
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}