$near-black: #070707;

html, body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
}

main, #app {
  height: 100%;
}

.header {
  height: 100px;
  width: 100%;
  position: fixed;
  background: #FFF;
  z-index: 2;

  nav {
    display: flex;
  }

  nav, .left, .right {
    height: 100%;
  }

  .left, .right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5%;
  }

  .left {
    width: 92%;

    @media only screen and (min-width: 375px) {
      width: 100%;
    }

    @media only screen and (min-width: 768px) {
      width: 30%;
      padding-left: 5%;
      margin-left: initial;
      justify-content: flex-start;
    }

    @media only screen and (min-width: 1280px) {
      padding-left: 10%;
    }

    @media only screen and (min-width: 1700px) {
      padding-left: 21%;
    }
  }

  .right {
    width: 60%;
    padding-right: 5%;

    .nav-item-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      max-height: 22px;
      align-items: baseline;

      @media only screen and (min-width: 1024px) {
        max-height: 32px;
      }
    }

    @media only screen and (max-width: 767px) {
      display: none;
    }

    @media only screen and (min-width: 1280px) {
      padding-right: 10%;
    }

    @media only screen and (min-width: 1700px) {
      padding-right: 21%;
    }
  }
}

.nav__link, .nav__link.main {
  font-family: 'Nobel-Book', sans-serif;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: $near-black;
  margin-left: 20px;
  font-size: 20px;
  text-decoration: none;
  z-index: 2;

  @media only screen and (min-width: 1024px) {
    font-size: 24px;
  }

  @media only screen and (max-width: 767px) {
    display: none;
  }
}

/*
  Underline effect
  Reference: https://codepen.io/colloque/pen/bDgmx
 */
a.nav__link.rightLink:after {
  content: '';
  top: -45%;
  position: relative;
  display: inline-block;
  height: 0.5em;
  width: 100%;
  border-bottom: 1px solid;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

a.nav__link.rightLink:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}


.nav__link.active--exact {
  font-family: 'Nobel', sans-serif;
  font-weight: normal;
}

.nav__link.rightLink.active--exact:after {
  display: none;
}

.nav__link:first-of-type {
  margin-left: 0;
}

.nav__link.main {
  font-family: 'Nobel', sans-serif;
  color: $near-black;
  position: relative;
  margin-left: 0;
  font-weight: normal;

  @media only screen and (max-width: 768px) {
    display: initial;
  }
}

.dropdown-wrapper {
  z-index: 2;
}

.fade-enter-active {
  transition: opacity .5s;
}

.fade-enter {
  opacity: 0;
}

footer {
  font-family: 'Nobel-Regular', sans-serif;
  font-size: 14px;
  display: none;
  width: 100%;
  color: #888888;
  margin: 2% 5%;
  bottom: 0;
  position: fixed;

  a {
    cursor: pointer;
  }

  @media only screen and (min-width: 1280px) {
    margin: 2% 10%;
    font-size: 16px;
  }

  @media only screen and (min-width: 1700px) {
    margin: 2% 21%;
  }
}