$near-black: #070707;

html, body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
}

#app {
  height: 100%;
}

.header {
  height: 100px;
  width: 100%;
  position: fixed;
  background: #FFF;
  z-index: 2;

  nav {
    display: flex;
  }

  nav, .left, .right {
    height: 100%;
  }

  .left, .right {
    display: flex;
    align-items: center;
  }

  .left {
    width: 92%;
    padding-left: 8%;
    justify-content: center;

    @media only screen and (min-width: 375px) {
      width: 100%;
      padding-left: initial;
    }

    @media only screen and (min-width: 768px) {
      width: 30%;
      padding-left: 5%;
      justify-content: flex-start;
    }

    @media only screen and (min-width: 1280px) {
      padding-left: 10%;
    }
  }

  .right {
    width: 60%;
    padding-right: 5%;

    .nav-item-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      max-height: 18px;

      @media only screen and (min-width: 1024px) {
        max-height: 26px;
      }
    }

    @media only screen and (max-width: 767px) {
      display: none;
    }

    @media only screen and (min-width: 1280px) {
      padding-right: 10%;
    }
  }
}

.nav__link {
  font-family: 'Nobel-Book', sans-serif;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: $near-black;
  margin-left: 20px;
  font-size: 16px;
  text-decoration: none;
  z-index: 2;

  @media only screen and (min-width: 1024px) {
    font-size: 24px;
  }

  @media only screen and (max-width: 767px) {
    display: none;
  }
}

/* Underline effect
   Reference: https://codepen.io/colloque/pen/bDgmx
 */
a.nav__link.rightLink:after {
  content: '';
  position: relative;
  display: inline-block;
  height: 0.5em;
  width: 100%;
  border-bottom: 1px solid;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

a.nav__link.rightLink:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.nav__link.active--exact {
  font-family: 'Nobel', sans-serif;
  font-weight: normal;
}

.nav__link:first-of-type {
  margin-left: 0;
}

.nav__link.main {
  font-family: 'Nobel', sans-serif;
  color: $near-black;
  font-size: 20px;
  position: relative;
  margin-left: 0;
  font-weight: normal;
  transition: font-size 0.3s ease-in-out;
  &:hover {
    font-size: 22px;
    transition: font-size 0.3s ease-in-out;
  }

  @media only screen and (min-width: 768px) {
    font-size: 22px;

    &:hover {
      font-size: 24px;
    }
  }

  @media only screen and (min-width: 820px) {
    font-size: 24px;

    &:hover {
      font-size: 26px;
    }
  }

  @media only screen and (max-width: 768px) {
    display: initial;
  }

  @media only screen and (min-width: 1280px) {
    font-size: 36px;

    &:hover {
      font-size: 38px;
    }
  }
}

.dropdown-wrapper {
  z-index: 2;
}